<?js
	var self = this;
	var isGlobalPage;

	docs.forEach(function(doc, i) {
?>

<?js
	// we only need to check this once
	if (typeof isGlobalPage === 'undefined') {
		isGlobalPage = (doc.kind === 'globalobj');
	}
?>
<?js if (doc.kind === 'mainpage' || (doc.kind === 'package')) { ?>
	<?js= self.partial('mainpage.tmpl', doc) ?>
<?js } else if (doc.kind === 'source') { ?>
	<?js= self.partial('source.tmpl', doc) ?>
<?js } else { ?>

<section class="content">
<header>
	<?js if (!doc.longname || doc.kind !== 'module') { ?>
		<h3>
		<?js if (doc.attribs) { ?>
		<span class="attribs"><?js= doc.attribs ?></span>
		<?js }
			if (doc.ancestors && doc.ancestors.length) { ?>
			<span class="ancestors"><?js= doc.ancestors.join('') ?></span>
		<?js
		 }
		?>
		<span class="doc-name"><?js= doc.name ?></span>
		<?js
		 if (doc.variation) { ?>
			<sup class="variation"><?js= doc.variation ?></sup><?js }
		 if (doc.signature && !doc.hideconstructor) { ?><?js= doc.signature ?><?js } ?>
	 	</h3>
		<?js if (doc.classdesc) { ?>
			<div class="class-description"><?js= doc.classdesc ?></div>
		<?js } ?>
	<?js } else if (doc.kind === 'module' && doc.modules) { ?>
		<?js doc.modules.forEach(function(module) { ?>
			<?js if (module.classdesc) { ?>
				<div class="class-description"><?js= module.classdesc ?></div>
			<?js } ?>
		<?js }) ?>
	<?js } ?>
</header>

<article>
	<div class="container-overview">
	<?js if (doc.kind === 'module' && doc.modules) { ?>
		<?js if (doc.description) { ?>
			<div class="description"><?js= doc.description ?></div>
		<?js } ?>

		<?js doc.modules.forEach(function(module) { ?>
			<?js= self.partial('method.tmpl', module) ?>
		<?js }) ?>
	<?js } else if (doc.kind === 'class' || (doc.kind === 'namespace' && doc.signature)) { ?>
		<?js= self.partial('method.tmpl', doc) ?>
	<?js } else { ?>
		<?js if (doc.description) { ?>
			<div class="description"><?js= doc.description ?></div>
		<?js } ?>

		<?js= self.partial('details.tmpl', doc) ?>

		<?js if (doc.examples && doc.examples.length) { ?>
			<h3>Ejemplo<?js= doc.examples.length > 1? 's':'' ?></h3>
			<?js= self.partial('examples.tmpl', doc.examples) ?>
		<?js } ?>
	<?js } ?>
	</div>
	<section class="accordion accordion-flush" id="accordion">
	<?js if (doc.augments && doc.augments.length) { ?>
		<div class="accordion-item">
			<h4 class="accordion-header">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#augments1" aria-expanded="true" aria-controls="augments1">
					Extendido
				</button>
			</h4>
			<div class="accordion-collapse collapse" id="augments1" data-bs-parent="#accordion">
				<?js= self.partial('augments.tmpl', doc) ?>
			</div>
		</div>
	<?js } ?>

	<?js if (doc.requires && doc.requires.length) { ?>
		<div class="accordion-item">
			<h4 class="accordion-header">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#require1" aria-expanded="true" aria-controls="require1">
					Require
				</button>
			</h4>
			<div class="accordion-collapse collapse" id="require1" data-bs-parent="#accordion">
				<ul class="list-unstyled"><?js doc.requires.forEach(function(r) { ?>
					<li><?js= self.linkto(r, r) ?></li>
				<?js }); ?></ul>
			</div>
			</div>
	<?js } ?>

	<?js
		var classes = self.find({kind: 'class', memberof: doc.longname});
		if (!isGlobalPage && classes && classes.length) {
	?>
		<div class="accordion-item">
			<h4 class="accordion-header">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#classes1" aria-expanded="true" aria-controls="classes1">
					Clases
				</button>
			</h4>
			<div class="accordion-collapse collapse" id="classes1" data-bs-parent="#accordion">
				<dl class="row"><?js classes.forEach(function(c) { ?>
					<dt class="col-12 col-md-3"><?js= self.linkto(c.longname, c.name) ?></dt>
					<dd class="col-12 col-md-9"><?js if (c.summary) { ?><?js= c.summary ?><?js } ?></dd>
				<?js }); ?></dl>
			</div>	
			</div>	
	<?js } ?>

	<?js
		var interfaces = self.find({kind: 'interface', memberof: doc.longname});
		if (!isGlobalPage && interfaces && interfaces.length) {
	?>
		<div class="accordion-item">
			<h4 class="accordion-header">
				<button class="accordion-button collapsed" type="button" 
				data-bs-toggle="collapse" 
				data-bs-target="#interfas1" aria-expanded="true" aria-controls="interfas1">
					Interfaces
				</button>
			</h4>
			<div class="accordion-collapse collapse" id="interfas1" data-bs-parent="#accordion">
				<dl class="row"><?js interfaces.forEach(function(i) { ?>
					<dt class="col-12 col-md-3"><?js= self.linkto(i.longname, i.name) ?></dt>
					<dd class="col-12 col-md-9"><?js if (i.summary) { ?><?js= i.summary ?><?js } ?></dd>
		<?js }); ?></dl>
			</div>
			</div>
	<?js } ?>

	<?js
		var mixins = self.find({kind: 'mixin', memberof: doc.longname});
		if (!isGlobalPage && mixins && mixins.length) {
	?>
		<div class="accordion-item">
			<h4 class="accordion-header">
				<button class="accordion-button collapsed" type="button" 
				data-bs-toggle="collapse" 
				data-bs-target="#mixins1" aria-expanded="true" aria-controls="mixins1">
					Mixins
				</button>
			</h4>
			<div class="accordion-collapse collapse" id="mixins1" data-bs-parent="#accordion">
				<dl class="row"><?js mixins.forEach(function(m) { ?>
				<dt class="col-12 col-md-3><?js= self.linkto(m.longname, m.name) ?></dt>
				<dd class="col-12 col-md-9"><?js if (m.summary) { ?><?js= m.summary ?><?js } ?></dd>
		<?js }); ?></dl>
			</div>
			</div>
	<?js } ?>

	<?js
		var namespaces = self.find({kind: 'namespace', memberof: doc.longname});
		if (!isGlobalPage && namespaces && namespaces.length) {
	?>
		<div class="accordion-item">
			<h4 class="accordion-header">
				<button class="accordion-button collapsed" type="button" 
				data-bs-toggle="collapse" 
				data-bs-target="#ns1" aria-expanded="true" aria-controls="ns1">
					Namespaces
				</button>
			</h4>
			<div class="accordion-collapse collapse" id="ns1" data-bs-parent="#accordion">
				<dl class="row"><?js namespaces.forEach(function(n) { ?>
				<dt class="col-12 col-md-3"><?js= self.linkto(n.longname, n.name) ?></dt>
				<dd class="col-12 col-md-9"><?js if (n.summary) { ?><?js= n.summary ?><?js } ?></dd>
		<?js }); ?></dl>
			</div>
			</div>
	<?js } ?>

	<?js
		var members = self.find({kind: 'member', memberof: isGlobalPage ? {isUndefined: true} : doc.longname});

		// symbols that are assigned to module.exports are not globals, even though they're not a memberof anything
		if (isGlobalPage && members && members.length && members.forEach) {
			members = members.filter(function(m) {
				return m.longname && m.longname.indexOf('module:') !== 0;
			});
		}
		if (members && members.length && members.forEach) {
	?>
		<div class="accordion-item">
			<h4 class="accordion-header">
				<button class="accordion-button collapsed" type="button" 
				data-bs-toggle="collapse" 
				data-bs-target="#members1" aria-expanded="true" aria-controls="members1">
					Miembros
				</button>
			</h4>
			<div class="accordion-collapse collapse" id="members1" data-bs-parent="#accordion">
				<?js members.forEach(function(p) { ?>
				<?js= self.partial('members.tmpl', p) ?>
			<?js }); ?>
			</div>
			</div>
		
	<?js } ?>

	<?js
		var methods = self.find({kind: 'function', memberof: isGlobalPage ? {isUndefined: true} : doc.longname});
		if (methods && methods.length && methods.forEach) {
	?>
		<div class="accordion-item">
			<h4 class="accordion-header">
				<button class="accordion-button collapsed" type="button" 
				data-bs-toggle="collapse" 
				data-bs-target="#methods1" aria-expanded="true" aria-controls="methods1">
					Metodos
				</button>
			</h4>
			<div class="accordion-collapse collapse" id="methods1" data-bs-parent="#accordion">
				<?js methods.forEach(function(m) { ?>
					<?js= self.partial('method.tmpl', m) ?>
					<hr class="my-5">
				<?js }); ?>
			</div>
			</div>
	<?js } ?>

	<?js
		var typedefs = self.find({kind: 'typedef', memberof: isGlobalPage ? {isUndefined: true} : doc.longname});
		if (typedefs && typedefs.length && typedefs.forEach) {
	?>
		<div class="accordion-item">
			<h4 class="accordion-header">
				<button class="accordion-button collapsed" type="button" 
				data-bs-toggle="collapse" 
				data-bs-target="#typedef1" aria-expanded="true" aria-controls="typedef1">
					Definición de Tipos
				</button>
			</h4>
			<div class="accordion-collapse collapse" id="typedef1" data-bs-parent="#accordion">
			<?js typedefs.forEach(function(e) {
				if (e.signature) {
			?>
				<?js= self.partial('method.tmpl', e) ?>
			<?js
				}
				else {
			?>
				<?js= self.partial('members.tmpl', e) ?>
			<?js
				}
			}); ?>
		</div>
		</div>

	<?js } ?>

	<?js
		var events = self.find({kind: 'event', memberof: isGlobalPage ? {isUndefined: true} : doc.longname});
		if (events && events.length && events.forEach) {
	?>
		<div class="accordion-item">
			<h4 class="accordion-header">
				<button class="accordion-button collapsed" type="button" 
				data-bs-toggle="collapse" 
				data-bs-target="#events1" aria-expanded="true" aria-controls="events1">
					Eventos
				</button>
			</h4>
			<div class="accordion-collapse collapse" id="events1" data-bs-parent="#accordion">
				<?js events.forEach(function(e) { ?>
					<?js= self.partial('method.tmpl', e) ?>
				<?js }); ?>
			</div>
		</div>
		
	<?js } ?>
	</section>
</article>

</section>
<?js } ?>

<?js }); ?>

