<?js
var data = obj;
var self = this;
var defaultObjectClass = '';

// Check if the default value is an object or array; if so, apply code highlighting
if (data.defaultvalue && (data.defaultvaluetype === 'object' || data.defaultvaluetype === 'array')) {
	data.defaultvalue = "<pre class=\"prettyprint source line-numbers\"><code>" + data.defaultvalue + "</code></pre>";
	defaultObjectClass = ' class="object-value"';
}
?>
<?js
	var properties = data.properties;
	if (properties && properties.length && properties.forEach && !data.hideconstructor) {
?>

	<h5 class="subsection-title">Propiedades:</h5>

	<?js= this.partial('properties.tmpl', data) ?>

<?js } ?>

<dl class="details row">

	<?js if (data.version) {?>
	<dt class="tag-version col-12 col-md-3">Version:</dt>
	<dd class="tag-version col-12 col-md-9"><?js= version ?></dd>
	<?js } ?>

	<?js if (data.since) {?>
	<dt class="tag-since col-12 col-md-3">Desde:</dt>
	<dd class="tag-since col-12 col-md-9"><?js= since ?>></dd>
	<?js } ?>

	<?js if (data.inherited && data.inherits && !data.overrides) { ?>
	<dt class="inherited-from col-12 col-md-3">Heredado de:</dt>
	<dd class="inherited-from col-12 col-md-9">
		<?js= this.linkto(data.inherits, this.htmlsafe(data.inherits)) ?>
	</dd>
	<?js } ?>

	<?js if (data.overrides) { ?>
	<dt class="tag-overrides col-12 col-md-3">Anulaciones:</dt>
	<dd class="tag-overrides col-12 col-md-9">
		<?js= this.linkto(data.overrides, this.htmlsafe(data.overrides)) ?>
	</dd>
	<?js } ?>

	<?js if (data.implementations && data.implementations.length) { ?>
	<dt class="implementations col-12 col-md-3">Implementaciones:</dt>
	<dd class="implementations col-12 col-md-9"><ul class="list-unstyled">
		<?js data.implementations.forEach(function(impl) { ?>
			<li><?js= self.linkto(impl, self.htmlsafe(impl)) ?></li>
		<?js }); ?>
	</ul></dd>
	<?js } ?>

	<?js if (data.implements && data.implements.length) { ?>
	<dt class="implements col-12 col-md-3">Implementos:</dt>
	<dd class="implements col-12 col-md-9"><ul class="list-unstyled">
		<?js data.implements.forEach(function(impl) { ?>
			<li><?js= self.linkto(impl, self.htmlsafe(impl)) ?></li>
		<?js }); ?>
	</ul></dd>
	<?js } ?>

	<?js if (data.mixes && data.mixes.length) { ?>
		<dt class="mixes col-12 col-md-3">Se mezcla en:</dt>

		<dd class="mixes col-12 col-md-9"><ul class="list-unstyled">
		<?js data.mixes.forEach(function(a) { ?>
			<li><?js= self.linkto(a, a) ?></li>
		<?js }); ?>
		</ul></dd>
	<?js } ?>

	<?js if (data.deprecated) { ?>
		<dt class="important tag-deprecated col-12 col-md-3">Obsoleto:</dt><?js
			if (data.deprecated === true) { ?>
		<dd class="yes-def tag-deprecated col-12 col-md-9"><span class="fg-red">Si</span></dd><?js }
			else { ?><dd class="col-12 col-md-9"><ul class="dummy list-unstyled"><li><?js= data.deprecated ?></li></ul></dd><?js }
		?>
	<?js } ?>

	<?js if (data.author && author.length) {?>
	<dt class="tag-author col-12 col-md-3">Autor(s):</dt>
	<dd class="tag-author col-12 col-md-9">
		<ul class="list-unstyled"><?js author.forEach(function(a) { ?>
			<li><?js= self.resolveAuthorLinks(a) ?></li>
		<?js }); ?></ul>
	</dd>
	<?js } ?>

	<?js if (data.copyright) {?>
	<dt class="tag-copyright col-12 col-md-3">Derecho de Autor:</dt>
	<dd class="tag-copyright col-12 col-md-9"><?js= copyright ?></dd>
	<?js } ?>

	<?js if (data.license) {?>
	<dt class="tag-license col-12 col-md-3">Licencia:</dt>
	<dd class="tag-license col-12 col-md-9"><?js= license ?></dd>
	<?js } ?>

	<?js if (data.defaultvalue) {?>
	<dt class="tag-default col-12 col-md-3">Valor por defecto:</dt>
	<dd class="tag-default col-12 col-md-9"><ul class="dummy list-unstyled">
			<li<?js= defaultObjectClass ?>><?js= data.defaultvalue ?></li>
		</ul></dd>
	<?js } ?>

	<?js if (data.meta && self.outputSourceFiles) {?>
	<dt class="tag-source col-12 col-md-3">Fuente:</dt>
	<dd class="tag-source col-12 col-md-9"><ul class="dummy list-unstyled"><li>
		<?js= self.linkto(meta.shortpath) ?>, <?js= self.linkto(meta.shortpath, 'line ' + meta.lineno, null, 'line' + meta.lineno) ?>
	</li></ul></dd>
	<?js } ?>

	<?js if (data.tutorials && tutorials.length) {?>
	<dt class="tag-tutorial col-12 col-md-3">Tutorial:</dt>
	<dd class="tag-tutorial col-12 col-md-9">
		<ul class="list-unstyled"><?js tutorials.forEach(function(t) { ?>
			<li><?js= self.tutoriallink(t) ?></li>
		<?js }); ?></ul>
	</dd>
	<?js } ?>

	<?js if (data.see && see.length) {?>
	<dt class="tag-see col-12 col-md-3">Ver en:</dt>
	<dd class="tag-see col-12 col-md-9">
		<ul class="list-unstyled"><?js see.forEach(function(s) { ?>
			<li><?js= self.linkto(s) ?></li>
		<?js }); ?></ul>
	</dd>
	<?js } ?>

	<?js if (data.todo && todo.length) {?>
	<dt class="tag-todo col-12 col-md-3">Que hace:</dt>
	<dd class="tag-todo col-12 col-md-9">
		<ul class="list-unstyled"><?js todo.forEach(function(t) { ?>
			<li><?js= t ?></li>
		<?js }); ?></ul>
	</dd>
	<?js } ?>
</dl>
