<!DOCTYPE html>
<html lang="es" class="sb-thin">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Documentación Oficial de Fascino">
		<link rel="canonical" href="" class="currenturl">
		<meta name="robots" content="index,follow">
		<meta property="og:title" content="Fascino <?js= title ?>" />
		<meta property="og:description" content="Documentación Oficial de Fascino <?js= title ?>" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="" class="currenturl"/>
		<meta property="og:site_name" content="Fascino ~ Sviluppo Web REP" />
		<meta property="og:image" content="../asset/img/logo512.png" />
		<meta property="og:image:width" content="512" />
		<meta property="og:image:height" content="512" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:creator" content="@Robert_saer" />
		<meta name="twitter:site" content="@Robert_saer" />
		<meta name="twitter:title" content="Fascino <?js= title ?>" />
		<meta name="twitter:description" content="Documentación Oficial de Fascino <?js= title ?>" />
		<title>Fascino: <?js= title ?></title>
		<link rel="icon" type="image/png" href="../asset/images/logo_white.png">
		<script type="application/ld+json">
		{
		  "@context": "https://schema.org/",
		  "@type": "WebSite",
		  "name": "Fascino Sviluppo Web",
		  "url": "/",
		  "potentialAction": {
		    "@type": "SearchAction",
		    "target": "/?q={search_term_string}",
		    "query-input": "required name=search_term_string"
		  }
		}
		</script>
		<!--[if lt IE 9]>
		  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/docs/asset/css/bootstrap.min.css" rel="stylesheet">
		<link href="/docs/asset/css/bootstrap-icons.min.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="/docs/asset/css/prism.css">
		<link href="/docs/asset/css/styles.css" rel="stylesheet">		
		<link type="text/css" rel="stylesheet" href="/dist/js/plugins/progressbar/ProgressBar.css">

		<link href="static/styles/jsdoc-default.css" rel="stylesheet">
	</head>

	<body>
		<nav class="offcanvas offcanvas-start" id="menuall" aria-labelledby="menuallLabel">
			 <div class="offcanvas-header">
				<h5 class="offcanvas-title" id="menuallLabel">Menú</h5>
				<button type="button" class="btn-close text-reset btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<?js= this.nav ?>
			</div>
			<div class="offcanvas-footer">
				<a href="/" class="text-decoration-none text-warning w-100 text-center d-block">Regresar</a>
			</div>
		</nav>
		<nav id="navbar" class="navbar fixed-top navbar-dark py-0" aria-label="Main navigation">
			<div class="container">
				<a class="navbar-brand logo-image ms-0 w-auto me-auto" href="/">
					<img src="../asset/images/logo_white.svg" alt="Logo" loading="lazy">
				</a>
				<h1 class="navbar-text fs-1 mx-auto">Fascino JS API <small>V 0.0.6</small></h1>
				<button class="navbar-toggler p-0 border-0 ms-auto me-0" data-bs-toggle="offcanvas" data-bs-target="#menuall" aria-controls="menuall">
					<i class="bi-list"></i>
					<span class="visually-hidden">Open/Close Menú</span>
				</button>
			</div>
		</nav>
		<main style="min-height: 90vh; margin-top: 6rem;">
			<div class="container">
				<?js if(title  != 'Home') { ?>
					<h2><?js= title ?></h2>
				<?js } ?>				
				<?js= content ?>
			</div>
		</main>
		<footer class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-12 d-flex align-items-center justify-content-between">
						<a href="https://github.com/jsdoc/jsdoc">
							JSDoc <?js= env.version.number ?>
						</a>
						<a href="https://svilupporep.site" target="_blank">&copy; Sviluppo Web</a>
						<a href="/">
							Fascino JS 0.0.6
						</a>
					</div>
				</div>
			</div>
		</footer>
		<script src="../../dist/js/fascino-all.js"> </script>
		<script defer src="../asset/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    	<script defer src="../asset/js/prism.js" data-manual> </script>
    	<script> _$.progressLoad() </script>
		<script defer src="static/scripts/script.js"> </script>
	</body>
</html>

