<div class="returns">
<?js
var data = obj || {};
if (data.description) {
?>
<div class="param-desc">
	<?js= description ?>
</div>
<?js } ?>

<?js if (data.type && data.type.names) {?>
<dl class="row">
	<dt class="col-12 col-md-2">
		Tipo
	</dt>
	<dd class="bd-4x border-star col-12 col-md-9 m-0 border-0">
		<?js= this.partial('type.tmpl', data.type.names) ?>
	</dd>
</dl>
<?js } ?>
</div>