<?js
    var data = obj;
?>
    <section class="source">
        <article>
            <pre class="prettyprint source line-numbers">
            <code class="<?js if (data.lang) { ?> language-<?js=data.lang ?> <?js } ?>"><?js= data.code ?></code></pre>
        </article>
    </section>